html,
body {
	font-family: 'Montserrat', sans-serif;
	height: 100%;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.container {
	/**
		инфо об container

		max-width: 1200px; // Задать ширену контентной части проекта(Макет + падинг)

**/
	max-width: #{$maxWidth + px}; // $maxWidth задаеться в файле '_vars.scss'
	margin: 0 auto;
	padding: 0 15px;
}